
body {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/159/637/original/Blue_sky_higher.jpg?1741505569https://s3.amazonaws.com/shecodesio-production/uploads/files/000/159/643/original/Blue_sky_highest.jpg?1741506067');
  font-family: 'Murecho', sans-serif;
  background-size: cover;
  height: 100vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure it spans full width */
  margin: 0 auto;
}

.search-form {
  margin-top: 50px;
  display: flex; /* Keep it flex to align input and button in a row */
  gap: 5px;
}

.search-form-input { 
  background-color: rgba(235, 241, 251, 0.2);
  display:block;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 16px;
  width: 300px;
  outline: none;
  color: #fff; /* Sets the text color for user input */
  font-family: 'Murecho', sans-serif;
  font-weight: 250;
  letter-spacing: 1px;
  opacity: 1;
}

.search-form-input:focus {
  background-color: rgba(235, 241, 251, 0.2);
  color: #fff;
  outline: none;
  font-family: 'Murecho', sans-serif;
  font-weight: 250;
  letter-spacing: 1px;
}

::placeholder {
  color:#fff;
  font-family: 'Murecho', sans-serif;
  font-weight: 250;
  letter-spacing: 1px;
  opacity: 1;
}

.search-form-button {
  background-color: #044971;
  color: aliceblue;
  font-family: 'Murecho', sans-serif;
  font-size: 15px;
  font-weight: 250;
  letter-spacing: 1px;
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
}

.weather-app {
  background: rgba(0, 22, 56, 0.2);
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(0, 39, 96, 0.08);
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.location {
  color: aliceblue;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: -20px;
  margin-top: 50px;
}

.temperature {
  color: aliceblue;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  margin-top: 0px;
}

.celsius {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -35px;
}

.emoji {
  width: 25px;
  position: relative;
  top: 3px;
}

.current-details {
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  color: aliceblue;
}

.strong {
  font-weight: 450;
}

footer {
  font-size: 12px;
  font-weight: 250;
  text-align: center;
  color: #fff;
}

a:link {
  color: #022167;
}

a:visited {
  color: #2b4e9e;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
    
 .forecast-box {
  background: rgba(0, 22, 56, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 520px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forecast-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}
    
.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 200%;
  gap: 5px; /* Add spacing between elements */
}

.day {
  color:#fff;
  font-weight: 250;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px; 
}

.temperature-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.high {
  color: #4acaf8;
  font-weight: 350;
  font-size: 18px;
  text-align: center;
}

.low {
  color: #fff;
  font-weight: 250;
  font-size: 18px;
  text-align: center;
}

.emojis img {
  width: 40px; /* Adjust the emoji size >> can also be 40% */
  height: auto;
  display: block;
  margin: 0 auto;
}

.link {
  text-decoration-line: none;
}
